body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFAF1;
}

header {
    text-align: center;
    margin-top: 10px;
}

/* Name at to of page*/
h1 {
    font-size: 40px ;
}

/* Location at top of page */
h3 {
    font-size: 24px;
}

footer {
    /* Keep footer fixed to whole bottom of page */
    position: fixed;
    bottom: 0;
    width: 100%;

    /* Display contact text right next to each other */
    display: flex;
    justify-content: space-between; 
    align-items: center; 

}

.contact {
    margin-left: 10px;
    padding-right: 10px;
}