<!doctype html>

<head>
  <title>Tenneh Kanneh | About</title>
  <link rel="stylesheet" href="/public/css/about.css">
</head>

<body>
  <!----------------------------------------- START OF: Name, School, Major, etc. ----------------------------------------->
  <div class="container">
    <aside class="info">
      <h1 style="font-size:45px;">Tenneh Kanneh</h1>
      <h2 style="font-size: 25px;">Software Developer</h2>
      <span>
        <h2 style="font-size: 20px; display: inline; vertical-align: middle;">Boise State Univeristy</h2>
        <h3 style="font-size: 16px; opacity: 50%; display: inline; vertical-align: middle; break-before: always;">
          Computer Science</h3>
      </span>
    </aside>

    <!----------------------------------------- END OF: Name, School, Major, etc. ----------------------------------------->



    <!----------------------------- START OF: Cards (Personal Statment, Blog, Other Things) ------------------------------->
    <main class="main">

      <div class="cards-container">

        <div id="personal-statement">
          <h4>PERSONAL STATEMENT</h4>
        </div>

        <div id="blog">
          <h4>BLOG</h4>
        </div>

        <div id="other-things">
          <h4>OTHER THINGS</h4>
        </div>
      </div>

  </div>


  <!----------------------------- END OF: Cards (Personal Statment, Blog, Other Things) ---------------------------------->

  </main>
  </div>
</body>

</html>