<!doctype html>

<head>
  <title>Tenneh Kanneh | Contact Me</title>
  <link rel="stylesheet" href="/public/css/contact.css">
</head>

<body>

  <main>
  
    <div class="email-communication">
      <form action="">
        <div>
          <h2 style="font-size: 30px; display: inline; vertical-align: middle;">Get in Touch</h2>
          <h3 style="font-size: 20px; opacity: 50%; display: inline; vertical-align: middle; break-before: always;">tenneh.n.kanneh@gmail.com</h3>
        </div>

        <input type="text" placeholder="*First Name" class="contact-inputs" required>
        <input type="text" placeholder="*Last Name" class="contact-inputs" required>
        <input type="email" placeholder="*Email" class="contact-inputs" required>
        <input type="text" placeholder="Subject" class="contact-inputs">
        <textarea placeholder="Do you want to tell me anything?" class="contact-inputs" required></textarea>
        <button type="submit">SUBMIT</button>
      </form>
    </div>


    <div class="other-communication">
      <a href="YOUR_LINKEDIN_URL" target="_blank"><img src="/public/src/linkedin.svg" alt="LinkedIn icon">
        <h6>LinkedIn</h6>
      </a>
      <a href="YOUR_HANDSHAKE_URL" target="_blank"><img src="/public/src/handshake.svg" alt="Handshake icon">
        <h6>Handshake</h6>
      </a>
      <a href="YOUR_GITHUB_URL" target="_blank">
        <img src="/public/src/github.svg" alt="GitHub icon">
        <h6>GitHub</h6>
      </a>
      <a href="YOUR_LINKEDIN_URL" target="_blank"><img src="/public/src/resume.svg" alt="Resume icon">
        <h6>Resume</h6>
      </a>
    </div>



  </main>

</body>

</html>