<!doctype html>

<head>
  <title>Tenneh Kanneh | Contact Me</title>
  <link rel="stylesheet" href="/public/css/contact.css">
</head>

<body>

  <section>

    <div class="email-communication">
      <h2 style="font-size: 35px; text-align: left; margin-bottom: 38px;">Get in Touch</h2>
      <form action="">
        <div class="required-inputs-container">
          <input type="text" placeholder="full name (required)" class="contact-inputs" required>
          <input type="email" placeholder="email (required)" class="contact-inputs" required>
        </div>
        <input type="text" placeholder="subject" class="contact-inputs">
        <textarea placeholder="type me a message......" class="contact-inputs"></textarea>
        <button type="submit">SUBMIT</button>
      </form>
    </div>


    <div class="other-communication">
      <a href="YOUR_LINKEDIN_URL" target="_blank" class="communication-link">
        <img src="/public/src/linkedin.svg" alt="LinkedIn icon">
        LinkedIn
      </a>
      <a href="YOUR_HANDSHAKE_URL" target="_blank" class="communication-link">
        <img src="/public/src/handshake.svg" alt="Handshake icon">
        Handshake
      </a>
      <a href="YOUR_GITHUB_URL" target="_blank" class="communication-link">
        <img src="/public/src/github.svg" alt="GitHub icon">
        GitHub
      </a>
      <a href="YOUR_RESUME_URL" target="_blank" class="communication-link">
        <img src="/public/src/resume.svg" alt="Resume icon">
        Resume
      </a>
    </div>

  </section>

</body>

</html>