<!doctype html>

<head>
  <title>Tenneh Kanneh | Contact Me</title>
  <link rel="stylesheet" href="/public/css/contact.css">
</head>

<body>
  <!----------------------------------------- START OF: Call to Action ----------------------------------------->
  <h1 class="callToAction">GET IN TOUCH</h1>
  <!----------------------------------------- END OF: Call to Action ----------------------------------------->
  <main>
    <div class="contact-container">
      <form action="" class="contact-right">
        <div>
          <h2>Email Me!</h2>
          <h4>tenneh.n.kanneh@gmail.com</h4>
        </div>
        <input type="text" placeholder="*Name" class="contact-inputs" required>
        <input type="email" placeholder="*Email" class="contact-inputs"  required>
        <input type="text" placeholder="Subject" class="contact-inputs">
        <textarea placeholder="Do you want to tell me anything?" class="contact-inputs"  required></textarea>
        <button type="submit">SUBMIT</button>
      </form>
    </div>

    <div class="contact-right">
      <div>
        <h4>Are socials more your thing?</h4>
        <a href="YOUR_LINKEDIN_URL" target="_blank"><img src="/public/src/linkedin.svg" alt="LinkedIn icon"><h6>LinkedIn</h6></a>
        <a href="YOUR_HANDSHAKE_URL" target="_blank"><img src="/public/src/handshake.svg" alt="Handshake icon"><h6>Handshake</h6></a>
      </div>

      <div>
        <h4>Want to see my source code?</h4>
        <a href="YOUR_GITHUB_URL" target="_blank">
          <img src="/public/src/github.svg" alt="GitHub icon"><h6>GitHub</h6></a>
      </div>

      <div>
        <h4>Is my resume what your looking for</h4>
        <a href="YOUR_LINKEDIN_URL" target="_blank"><img src="/public/src/linkedin.svg" alt="LinkedIn icon"><img src="/public/src/resume.svg" alt="Resume icon"><h6>Resume</h6></a>
      </div>
    </div>

  </main>

</body>

</html>