body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

section {
    display: flex;

}

.email-communication {
    /* Form takes up 2/3rd of page with 20px padding around*/
    width: calc(100% * (2/3));

    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center form contents vertically */
    justify-content: center;
    /* Center form contents horizontally */

}

.required-inputs {
    display: flex;
    width: 600px;
    justify-content: space-between;
    gap: 5px; 
}

.required-inputs div {
    width: calc(50% - 6px); 
}

.contact-inputs {
    margin-top: 10px;
    font-family: monospace;
    border: 1px solid #AC1313;

    width: 100%; /* Instead of specifing the width to an exact px have it be 100% of parent div */
    box-sizing: border-box;

    padding: 8px;
}

textarea.contact-inputs {
    height: 250px;
    resize: none;
}

.email-communication button {
    background-color: #AC1313;
    border: none;

    width: 256px;
    height: 37px;

    font-family: 'Martion Mono', monospace;
    color: white;
    text-align: center;

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px black;
    margin-top: 20px;

}

.email-communication button:hover {
    transform: translateY(-5px);

    transition: transform 0.3s ease;

    box-shadow: 8px 8px 15px #FB9B00;

}

.other-communication {
    /* Display Content vertically centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% * (1/3));

    gap: 30px;
    padding: 30px;
}

.communication-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    color: #333;
    font-family: 'Martion Mono', monospace;
    font-size: 30px;

    transition: opacity 0.3s ease, color 0.3s ease;
    white-space: nowrap;


}

.communication-link img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    transition: opacity 0.3s ease;
}

.communication-link:hover {
    opacity: 0.7;
}

.communication-link:active {
    color: #FB9B00;
}