main {
    padding-top: 80px;
}

h1.call-to-action {
    background-color: #AC1313;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
    border-bottom: 10px solid black;

    color: white;
    text-align: center;
}

.contact-container {
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    flex-direction: left;
    align-items: start;
    gap: 20px;
}

.contact-right {
    flex-direction: right;
    align-items: start;
    gap: 20px;
}

.contact-right img {
    width: 50px;
    height: 50px;
}