main {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.email-communication {
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-inputs {
    border: 2px solid #AC1313;
    width: 367px;
}

.email-communication button {
    background-color: #AC1313;
    
    color: white;
    padding: 20px;
    text-align: center;

    /* Size of Cards */
    width: 256px;
    height: 371px;

    /* Center Text in Box */
    display: flex;
    align-items: center; 
    justify-content: center;

    /* Box Shadow */
    box-shadow: 15px 15px black;

}

.email-communication button:hover {
    transform: translateY(-5px); /* Slightly move up on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 8px 8px 15px #FB9B00; /* make shadow larger on hover */
}


.other-communication {
    /* Display Content vertically centred */
    justify-content: center;
    gap: 60px;


    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.8);

    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    img {
        width: 50px;
        height: 50px;
    }

    a {
        text-decoration: none;
        font-family: 'Martion Mono', monospace;
        font-size: 30px;
        color: #333;

        display: flex;

        padding: 0px;
        transition: background-color 0.3s, color 0.3s;
    }

    a:active {
        color: #FB9B00;
    }
}