@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

html, body {
    font-family: 'Martion Mono', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
 
  
  /**************************************************** START OF: Header CSS ****************************************************/
  header {
    /* Keep the header at the top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
  
  /************************************************ START OF: Navigation Bar CSS ************************************************/
  
  /* Navigation Container */
  nav {
    padding: 0px 0px;
    box-sizing: border-box;
  }

  /* Navigation Unorder Links */
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    max-width: 100%;
    overflow-x: hidden;
    padding-right: 18px;
  }

  /* Navigation Links */
  nav a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
  }

  /* Hover Effects */
  nav a:hover {
    color: rgba(139, 125, 107, 0.8);
  }

  /* Click Effects */
  nav a:active {
    color: #AC1313;
  }

  main {
    width: 100%;
  }
  /************************************************ END OF: Navigation Bar CSS ************************************************/

}
/***************************************************** End OF: Header CSS *****************************************************/